exportPattern("^[[:alpha:]]+")
importFrom("stats", "integrate")
importFrom("methods", "new")
importFrom("methods", "setMethod")
importFrom("methods", "setClass")
importFrom("stats", "dbinom", "dnbinom", "dpois", "na.omit")
importFrom("graphics", "plot", "par", "axis", "abline", "title", "lines")
